<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDI3n1u0d915FQV7i4TyL91BxX_Ij5lkHA</string>
	<key>GCM_SENDER_ID</key>
	<string>780030286135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.affintech.affin</string>
	<key>PROJECT_ID</key>
	<string>affin-3966b</string>
	<key>STORAGE_BUCKET</key>
	<string>affin-3966b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780030286135:ios:25969cba8935aafee962b2</string>
</dict>
</plist>